.footer {
    background-color: #AC9494;
    padding: 20px;
    margin-top: 10%;
   
   
  }
  
  .footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-top-left {
    margin-left: 40px;
  }
  
  .footer-top-right {
    margin-right: 40px;
  }
  
  .footer-top ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-top li {
    margin: 10px;
  }
  
  .footer-top a {
    color: #333;
    text-decoration: none;
  }
  
  .footer-top a:hover {
    color: #007bff;
  }
  
  .footer-middle {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-col {
    margin: 20px;
  }
  
  .footer-col h4 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .footer-col ul {
    list-style: none;
  }
  
  .footer-col li {
    margin: 5px;
  }
  
  .footer-col a {
    color: #333;
    text-decoration: none;
  }
  
  .footer-col a:hover {
    color: #007bff;
  }
  
  .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-bottom-left {
    margin-left: 40px;
  }
  
  .footer-bottom-right {
    margin-right: 40px;
  }
  
  .footer-bottom p {
    color: #333;
  }
  
  /* Media queries for responsiveness */
  
  @media (max-width: 768px) {
    
    .footer-top,
    .footer-middle,
    .footer-bottom {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 20px;
      margin-top:20px
      }
  
      .footer-top-left,
      .footer-top-right,
      .footer-bottom-left,
      .footer-bottom-right{
        margin-left :0px;
        margin-right :0px;
      }
    
  }